body{
  text-align: center;
  background-size: auto;
  background-image: url(../images/background.jpg);
}
span img{
  width: 400px;
  margin:40px 0px 50px 0px;
}
section img{
  width:90%;
  margin: 0px 0px;
}
h2{
  font-size: 25px;
  margin-top: 10px;
  color: #000；
}
p{
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  color: #000；
}
section{
  margin-top: 50px;
}
.row{
  margin-top: 20px;
  background-color:#E5E5E5;
  height:px;
}
.end {
  background-color:#171717;
}
.end p{
  color: #ADADAD;
  margin-top: 60px;
  margin-bottom: -30px;
  padding: 20px 0px;
}
